.album-info {
  display: none;
  color: white;
  width: 50%;
  margin: auto;
  text-align: center;
  border: 1px solid #FF00D2;
  box-shadow:0px 0px 50px 5px #E40099;
  margin-top: 2;
  border-radius: 20px;
  i {
    font-size: 30px;
    display: flex;
    align-self: flex-end;
    }
  button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    margin-bottom: 20px;

    &:hover {
      background-color: #e15e7e;
      color: white;
    }
  }
}



// stars
ul.rating {
  text-align: center;
  margin: 0;
  padding: 0;
}
li.star {
  cursor: default;
  display: inline-block;
  font-size: 40px;
  list-style-type: none;
  text-align: center;
}

.star,
.rating:not(.vote-cast):hover .star:hover ~ .star,
.rating.vote-cast .star.selected ~ .star {
  /* normal state */
  color: gray;
}

.rating:hover .star,
.rating.vote-cast .star {
  /* highlighted state */
  color: orange;
}
