.album-info {
  display: none;
  color: white;
  border: 1px solid yellow;
  width: 50%;
  margin: auto;
  text-align: center;

  i{
    font-size: 30px;
    display: flex;
    align-self: flex-end;
    }
  }
